<div class="mt-xxl-5">
  <div class="d-grid gap-3 d-md-flex justify-content-md-start">
    <button class="btn btn-primary" type="button" routerLink="register-client"><i class="ri-add-line"></i> New</button>
    <button class="btn btn-primary" type="button">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
        <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
      </svg>
      Export
    </button>
  </div>
</div>

<div class="mt-3">
  <app-search-client></app-search-client>
</div>

<h3 class="table-title">Clients</h3>
<table class="table table-bordered text-center">
  <thead class="border-dark">
  <tr>
    <th>Shared Key</th>
    <th>Business Id</th>
    <th>E-mail</th>
    <th>Phone</th>
    <th>Data Added</th>
    <th><img src="../assets/edit.png" alt="Logo" width="30" height="30"></th>
  </tr>
  </thead>
  <tbody class="border-dark">
  <tr *ngFor="let client of clients">
    <td>{{client.sharedKey}}</td>
    <td>{{client.businessId}}</td>
    <td>{{client.email}}</td>
    <td>{{client.phone}}</td>
    <td>{{client.dataAdded}}</td>
    <td>
      <button class="btn mx-auto"><i class="ri-pencil-line"></i></button>
    </td>
  </tr>
  </tbody>
</table>
