<h3 class="table-title">Clients</h3>
<table class="table table-bordered">
  <thead class="border-dark">
  <tr>
    <th>Shared Key</th>
    <th>Business Id</th>
    <th>E-mail</th>
    <th>Phone</th>
    <th>Data Added</th>
  </tr>
  </thead>
  <tbody class="border-dark">
  <tr *ngFor="let employee of employees">
    <td>{{employee.sharedKey}}</td>
    <td>{{employee.businessId}}</td>
    <td>{{employee.email}}</td>
    <td>{{employee.phone}}</td>
    <td>{{employee.dateAdded}}</td>
  </tr>
  </tbody>
</table>
