.bg {
  background: rgb(204, 229, 255);
  border: 1px solid black; /* Borde negro de 2 píxeles de grosor */
  border-radius: 10px; /* Esquinas redondeadas de 10 píxeles de radio */
  padding: 10px; /* Espacio interno dentro del div */
}

.button {
  display: flex;
  justify-content: end;
}
