<div class="container col-md-6 offset-md-3 bg">
  <div class="container mt-2">
    <h4>Create New Client</h4>
    <hr>
    <form (ngSubmit)="onSubmit()">
      <div class="row mb-3">
        <label for="name" class="col-sm-2 col-form-label">Name:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="name" [(ngModel)]="employee.sharedKey" name="name">
        </div>
      </div>
      <div class="row mb-3">
        <label for="phone" class="col-sm-2 col-form-label">Phone:</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="phone" [(ngModel)]="employee.phone" name="phone">
        </div>
      </div>
      <div class="row mb-3">
        <label for="email" class="col-sm-2 col-form-label">E-mail:</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="email" [(ngModel)]="employee.email" name="email">
        </div>
      </div>
      <div class="row mb-3">
        <label for="startDate" class="col-sm-2 col-form-label">Start Date:</label>
        <div class="col-sm-10">
          <input type="date" class="form-control" id="startDate" [(ngModel)]="employee.dateAdded" name="startDate">
        </div>
      </div>
      <div class="row mb-3">
        <label for="endDate" class="col-sm-2 col-form-label">End Date:</label>
        <div class="col-sm-10">
          <input type="date" class="form-control" id="endDate" [(ngModel)]="employee.dateAdded" name="endDate">
        </div>
      </div>
      <div class="button">
        <button type="submit" class="btn btn-primary">OK</button>
      </div>
    </form>
  </div>
</div>
